{extend name="common/base" /}
{block name="title"}文章详情{/block}
{block name="customstyle"}
  <link href="__STATIC__/libs/editormd/css/editormd.min.css" rel="stylesheet">
{/block}
{block name="content"}
	<div class="row">
	      <div class="col-md-3">
	 		 <div class="relation-article" data-url="{:url('ajax_relationArticles_list','id='.$article->id)}"></div>
	 		 <div class="category-list" data-url="{:url('ajax_category_list')}"></div>
	      </div>
	      <div class="col-md-9">
	        <ol class="breadcrumb">
	          <li><a href="{:url('index')}">首页</a></li>
	          <li><a href="{:url('article_list', 'category='.$article->category->id)}">{$article->category->name}</a></li>
	          <li class="active">文章</li>
	        </ol>
	        <section class="content-wrap">
	          <header class="post-head">
	            <h1 class="post-title">{$article->title}</h1>
	            <span class="author">作者：<a href="{:url('user_detail','id='.$article->user->id)}"> {$article->user->nickname}</a></span> •
	            <time class="post-date">{$article->updated_time}</time>
	            &nbsp;&nbsp;&nbsp;阅读 ({$article->view})
	          </header>
	          <hr>
	          <section class="post-content">
	          	<div id="editormd-view">
		             <textarea style="display:none;">{$article->body}
		             </textarea> 
	          	</div>
	          </section>
	          <hr>
	          <section class="post-content">
	            <div class="blog-copyright">
	              <span title="CDCN - 码上中国博客文章版权属于作者，受法律保护。未经作者同意不得转载。">©
	                著作权归作者所有</span>
	            </div>
	          </section>
	          <section class="post-content">
	            <b>分类</b>&nbsp;&nbsp;&nbsp;
	            <a href="{:url('article_list','category='.$article->category->id)}"><span class="badge blue">{$article->category->name}</span></a>
	          </section>
	          <br>
	          <section class="post-content"> 
	            <b>标签</b>&nbsp;&nbsp;&nbsp;
	            {foreach $article->tags as $tag } 
	    			<a href="{:url('tag_detail','id='.$tag->id)}"><span class="badge blue">{$tag->name}</span></a>&nbsp;&nbsp;
				{/foreach}
	          </section>
	        </section>
	      </div>
	</div>
	<br>
	<br>
	<br>
	<br>
{/block}
{block name="customscript"}
<script src="__STATIC__/libs/editormd/lib/marked.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/prettify.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/raphael.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/underscore.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/sequence-diagram.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/flowchart.min.js"></script>
  <script src="__STATIC__/libs/editormd/lib/jquery.flowchart.min.js"></script>
  <script src="__STATIC__/libs/editormd/editormd.min.js"></script>
 <script>
    $(function(){
        editormd.markdownToHTML("editormd-view", {
          htmlDecode      : "style,script,iframe",  // you can filter tags decode
          emoji           : true,
          taskList        : true,
          tex             : true,  // 默认不解析
          flowChart       : true,  // 默认不解析
          sequenceDiagram : true,  // 默认不解析
        });
    });
  </script>
{/block}