{extend name="common/base" /}
{block name="title"}文章列表{/block}
{block name="content"}
<div class="row">
  <div class="col-md-3">
    <div class="visible-md visible-lg">
      <div class="panel panel-custom">
        <div class="panel-heading">热门文章</div>
        <div class="list-group list-group-flush">
          {foreach $articles as $key=>$article}
          <a href="{:url('detail_list')}" class="list-group-item">{$article->title}</a>
          {/foreach}
        </div>
      </div>
    </div>
    <div class="category-list" data-url="{:url('ajax_category_list')}"></div>
  </div>
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li><a href="{:url('index')}">首页</a></li>
      <li class="active">文章列表</li>
      {if $currcategory}
      <li class="active">{$currcategory->name}</li>
      {/if}
    </ol>
    <div class="post-list list-group">
      {foreach $articles as $article}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
        <a href="{:url('detail_list','id='.$article->id)}">{$article->title}</a>
        </h4>
        <p>
          <span class="label label-info"><b>{$article->updated_time}</b></span> &nbsp;&nbsp;&nbsp;阅读 <span class="badge">{$article->view}</span>
        </p>
        <p class="subtitle">
          {$article->sub_title}
        </p>
      </div>
      {/foreach}
      <hr>
    </div>
    <ul class="pagination">
      {$page|raw}
    </ul>
  </div>
</div>
{/block}
{block name="customscript"}{/block}